/.Accion.java._trace
/.AccionDeAgarrarUnElemento.java._trace
/.AccionDeMoverse.java._trace
/.AccionDeUsarItem.java._trace
/.Inventario.java._trace
/.Item.java._trace
/.Jugador.java._trace
/.Laberinto.java._trace
/.Habitacion.java._trace
/.SistemaGestionLaberinto.java._trace
/.TipoHabitacion.java._trace
/.GatoEncerradoModel.java._trace
/.CrearLaberintoAppModel.java._trace
